.section-heading {
    font-size: 56px;
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.section-heading {
    color: #ffffff;
    font-size: 74px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -01px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 2px;
    justify-content: center;
}

.about-area {
    /* color: #24292e; */
    line-height: 1.6;
    /* padding: 20px; */
}


@media (max-width: 1090px) {

    .blogDetails {
        padding: 1.5% !important;
    }
}

a {
    color: #0366d6;
    text-decoration: none;
}

code,
pre {
    background-color: #f6f8fa;
    color: #24292e;
    border-radius: 3px;
}

blockquote {
    color: #6a737d;
    border-left: 4px solid #0366d6;
    padding-left: 1em;
}

table {
    border-spacing: 0px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

th,
td {
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

th {
    /* background: #D4D4D4; */
    font-weight: 600;
}

ul,
ol {
    position: relative;
    margin-left: 20px;
}


.full-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.breadcrumb-area {
    padding: 0% !important;
}

@media (max-width: 585px) {
    .breadcrumb-area .breadcrumb-content .section-heading {
        font-size: 43px;
    }
}


.blogDetails a {
    text-decoration: underline;
    word-break: break-word;
}

ul,
ol li {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 26px;
    color: #dbdbdb;
}

h1,
h2,
h3,
h4,
h5 {
    /* font-size: 18px; */
    color: #ffffff;
    margin-bottom: 17px;
}

p {
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
    line-height: 1.56;
    margin-bottom: 26px;
}

